In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("spam_assassin.csv")
data.head()

                                                text  target
0  From ilug-admin@linux.ie Mon Jul 29 11:28:02 2...       0
1  From gort44@excite.com Mon Jun 24 17:54:21 200...       1
2  From fork-admin@xent.com Mon Jul 29 11:39:57 2...       1
3  From dcm123@btamail.net.cn Mon Jun 24 17:49:23...       1
4  From ilug-admin@linux.ie Mon Aug 19 11:02:47 2...       0

In [3]:
data.shape

(5796, 2)

In [4]:
data.describe()

            target
count  5796.000000
mean      0.327122
std       0.469203
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000

In [5]:
data.duplicated().sum()

467

In [6]:
data.drop_duplicates(inplace=True)

In [7]:
data.shape

(5329, 2)

In [8]:
data.isnull().sum()

text      0
target    0
dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5329 entries, 0 to 5795
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5329 non-null   object
 1   target  5329 non-null   int64
dtypes: int64(1), object(1)
memory usage: 124.9+ KB

In [10]:
import nltk 
from nltk.corpus import stopwords
import string 
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Nyamasi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [11]:
def process_text(text):
    #remove puntuations,remove stopwords,  return a list ofclean text
    nopunc =[char for char in text if char  not in string.punctuation]
    nopunc = ''.join(nopunc)
    #2
    clean_words =[word for word  in nopunc.split() if word.lower()not in stopwords.words('english')]
    #3
    return clean_words

In [12]:
#show separting words by commas/tokenazation
data['text'].head().apply(process_text)

0    [ilugadminlinuxie, Mon, Jul, 29, 112802, 2002,...
1    [gort44excitecom, Mon, Jun, 24, 175421, 2002, ...
2    [forkadminxentcom, Mon, Jul, 29, 113957, 2002,...
3    [dcm123btamailnetcn, Mon, Jun, 24, 174923, 200...
4    [ilugadminlinuxie, Mon, Aug, 19, 110247, 2002,...
Name: text, dtype: object

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
messages =CountVectorizer(analyzer=process_text).fit_transform(data['text'])

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,