In [16]:
import pandas as pd
import numpy as np

In [17]:
data = pd.read_csv("spam_assassin.csv")
data.head()

                                                text  target
0  From ilug-admin@linux.ie Mon Jul 29 11:28:02 2...       0
1  From gort44@excite.com Mon Jun 24 17:54:21 200...       1
2  From fork-admin@xent.com Mon Jul 29 11:39:57 2...       1
3  From dcm123@btamail.net.cn Mon Jun 24 17:49:23...       1
4  From ilug-admin@linux.ie Mon Aug 19 11:02:47 2...       0

In [18]:
data.shape

(5796, 2)

In [19]:
data.describe()

            target
count  5796.000000
mean      0.327122
std       0.469203
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000

In [20]:
data.duplicated().sum()

467

In [23]:
data.drop_duplicates(inplace=True)

In [24]:
data.shape

(5329, 2)

In [25]:
data.isnull().sum()

text      0
target    0
dtype: int64

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5329 entries, 0 to 5795
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5329 non-null   object
 1   target  5329 non-null   int64
dtypes: int64(1), object(1)
memory usage: 124.9+ KB

In [29]:
#download the stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Nyamasi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
def process_text(text):
    #remove puntuations,remove stopwords,  return a list ofclean text
    non

In [ ]:

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(test_size=0.2,random_state=42)